@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
.body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.link {
  text-decoration: none;
}

.main {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
}

.primary-information {
  cursor: default;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 40px 10px;
  background: linear-gradient(-45deg, #dadada 30%, #cfcfcf 30% 70%, #dadada 70% 100%);
}

.category {
  position: relative;
  font-weight: bold;
  margin: 0 0 25px;
  color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.category-content {
  font-size: 1.1em;
  width: 100%;
}

.category-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px;
}

.category-header-icon {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 0;
}

.category-header-text {
  font-size: 1.6em;
  margin: 0;
}

.me__my-photo {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 5px;
  border: 7px solid #2b2b2b;
  margin: 0;
}
.me__my-name-mob, .me__my-status-mob {
  display: none;
}

.about-me__age, .about-me__birth-date {
  margin: 0 0 15px;
}
.about-me__occupation {
  margin: 0;
}

.contacts-links__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: #2b2b2b;
  width: fit-content;
}
.contacts-links__item:not(:last-of-type) {
  margin: 0 0 15px;
}
.contacts-links__item:hover .contacts-links__item-icon {
  animation: links__icon_rotate 1s linear infinite;
}
.contacts-links__item-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  transition: transform 1s ease;
}

.languages__language {
  display: flex;
  justify-content: space-between;
}
.languages__language:not(:last-of-type) {
  margin: 0 0 15px;
}
.languages__language-level {
  display: flex;
  align-items: center;
}
.languages__language-level span {
  width: 20px;
  height: 20px;
  background-color: #94a71c;
  border-radius: 50%;
}
.languages__language-level span:not(:last-of-type) {
  margin-right: 5px;
}
.languages__language-level_english span {
  background-color: #94a71c;
}
.languages__language-level_english span:last-of-type {
  background-color: #2b2b2b;
}
.languages__language-level_english span:nth-of-type(4) {
  background: linear-gradient(to right, #94a71c 60%, #2b2b2b 60% 100%);
}
.languages__language-level_german span {
  background-color: #94a71c;
}
.languages__language-level_german span:nth-of-type(4), .languages__language-level_german span:nth-of-type(5) {
  background-color: #2b2b2b;
}
.languages__language-level_german span:nth-of-type(3) {
  background: linear-gradient(to right, #94a71c 50%, #2b2b2b 50% 100%);
}

.hobbies {
  margin: 0;
}
.hobbies__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.hobbies__hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 0 15px;
}
.hobbies__hobby-icon {
  width: 50px;
  height: 50px;
  margin: 0 0 5px;
}
.hobbies__hobby-name {
  text-align: center;
}

.secondary-information {
  position: relative;
  min-width: 0;
  flex: 2;
  cursor: default;
  background-color: #2b2b2b;
  padding: 70px 40px 0 0;
  overflow: hidden;
}
.secondary-information::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 45%;
  right: -100px;
  bottom: -100px;
  background: url(../img/tree.png);
  background-size: cover;
  z-index: 0;
}

.resume-header {
  margin: 0 0 50px 50px;
}
.resume-header__name {
  font-size: 3em;
  margin: 0 0 15px;
  color: #dce69d;
}
.resume-header__status {
  font-size: 1.5em;
  margin: 0;
  color: #dadada;
}

.si-category {
  align-items: flex-start;
}

.si-category-header {
  width: 300px;
  padding: 0 0 0 50px;
  background-color: #dce69d;
}

.si-category-content {
  padding: 0 0 0 50px;
  color: #dadada;
  box-sizing: border-box;
}

.software__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.software__item:not(:last-of-type) {
  margin: 0 0 15px;
}
.software__item:hover .software__program-icon {
  filter: none;
}
.software__program {
  display: flex;
  align-items: center;
}
.software__program-icon {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
  filter: sepia(100%);
  transition: filter 0.5s ease;
}
.software__software-level {
  width: 150px;
  height: 10px;
  background-color: #2b2b2b;
  border: 1px solid #ffffff;
}
.software__software-level_unity {
  background: linear-gradient(to right, #dce69d 0% 55%, #2b2b2b 55% 100%);
}
.software__software-level_vstudio {
  background: linear-gradient(to right, #dce69d 0% 65%, #2b2b2b 65% 100%);
}
.software__software-level_ps {
  background: linear-gradient(to right, #dce69d 0% 80%, #2b2b2b 80% 100%);
}
.software__software-level_github {
  background: linear-gradient(to right, #dce69d 0% 75%, #2b2b2b 75% 100%);
}
.software__software-level_postman {
  background: linear-gradient(to right, #dce69d 0% 50%, #2b2b2b 50% 100%);
}
.software__software-level_mariadb {
  background: linear-gradient(to right, #dce69d 0% 50%, #2b2b2b 50% 100%);
}

.tech-skills {
  margin: 0 0 10px;
}
.tech-skills__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tech-skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px 15px;
}
.tech-skills__diagram {
  position: relative;
  width: 70px;
  height: 70px;
  padding: 15px;
  border: solid 12px #ffffff;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 0 10px 0;
}
.tech-skills__diagram::before, .tech-skills__diagram::after {
  display: block;
  content: "";
  position: absolute;
  width: 104px;
  height: 104px;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  background-color: transparent;
  border: solid 8px transparent;
  border-top-color: #94a71c;
  border-right-color: #94a71c;
  border-radius: 50%;
  transform: rotate(45deg);
}
.tech-skills__diagram_unity::after {
  transform: rotate(90deg);
}
.tech-skills__diagram_sharp::after {
  transform: rotate(70deg);
}
.tech-skills__diagram_plus::after {
  transform: rotate(45deg);
}
.tech-skills__diagram_git::after {
  transform: rotate(60deg);
}
.tech-skills__item-icon {
  display: block;
  width: 70px;
  height: 70px;
  transition: transform 0.5s ease;
}
.tech-skills__item:hover .tech-skills__item-icon {
  transform: scale(1.1);
}

.experience {
  margin: 0 0 10px;
}
.experience__header-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
}
.experience__item {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
}
.experience__item-company {
  color: #94a71c;
}
.experience__position {
  display: block;
  margin: 0 0 15px;
}

.education {
  margin: 0 0 10px;
}
.education__header-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
}
.education__item {
  margin: 0 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.education__university {
  color: #94a71c;
}
.education__degree {
  display: block;
  margin: 0 0 15px;
}
.education__ed-program {
  display: block;
  margin: 0 0 15px;
}

.my-works {
  margin: 0;
}
.my-works__header-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.slick-list {
  overflow: hidden;
  padding: 0;
}

.slick-track {
  display: flex;
}

.slider {
  position: relative;
}
.slider__item.slick-active {
  outline: none;
}
.slider__item {
  margin: 0 50px;
}
.slider__video-wrapper {
  cursor: pointer;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.slider__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider__demo-link {
  display: block;
  width: 80px;
  text-align: center;
  margin: 15px auto 0;
  color: #dadada;
  text-decoration: underline;
  transition: background-color 0.5s ease;
}
.slider__demo-link:hover {
  color: #94a71c;
}
.slider__demo-link:focus {
  outline: none;
}

.slick-arrow {
  cursor: pointer;
  position: absolute;
  font-size: 0;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  transition: background-color 0.5s ease;
}

.slick-arrow:hover {
  background-color: #70800d;
}

.slick-arrow:focus {
  outline: none;
}

.slick-prev {
  left: 0;
  background: url(../img/slider-icons/arrow-l.svg) #94a71c center/70% no-repeat;
}

.slick-next {
  right: 0;
  background: url(../img/slider-icons/arrow-r.svg) #94a71c center/70% no-repeat;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 15px 0 15px;
}
.slick-dots li {
  display: flex;
  list-style: none;
  margin: 0 5px;
}
.slick-dots li button {
  cursor: pointer;
  font-size: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: #dadada;
  border-radius: 50%;
  border: none;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li.slick-active button {
  background-color: #94a71c;
}

#to-top-button {
  cursor: pointer;
  position: fixed;
  display: block;
  background: url(../img/to-top-yellow.svg) transparent center/80% no-repeat;
  width: 40px;
  height: 40px;
  border: 4px solid #94a71c;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}

#to-top-button.show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
  }

  .primary-information,
.secondary-information {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .me.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 25px;
  }

  .me__my-name-mob, .me__my-status-mob {
    display: block;
    text-align: center;
  }
  .me__my-name-mob {
    font-size: 3em;
    margin: 0 0 15px;
  }
  .me__my-status-mob {
    font-weight: normal;
    margin: 0;
    font-size: 2em;
  }

  .category {
    width: 45%;
  }

  .primary-information {
    justify-content: space-between;
    align-items: flex-start;
  }

  .secondary-information {
    display: flex;
    justify-content: space-around;
    padding: 25px 40px 0;
  }

  .resume-header {
    display: none;
  }

  .si-category-content {
    padding: 0;
  }

  .si-category-header {
    width: auto;
    padding: 0 30px;
  }

  .si-category {
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .me.category {
    width: 100%;
  }

  .category {
    width: 80%;
  }

  .primary-information {
    justify-content: space-around;
  }

  #to-top-button {
    background: url(../img/to-top-white.svg) #94a71c center/80% no-repeat;
    right: 20px;
    bottom: 20px;
  }

  .contacts-links__item:hover .contacts-links__item-icon {
    animation: none;
  }

  .software__program-icon {
    filter: none;
  }

  .tech-skills__item:hover .tech-skills__item-icon {
    transform: scale(1);
  }

  .slick-arrow:hover {
    background-color: #94a71c;
  }

  .slider__demo-link:hover {
    color: #dadada;
  }
}
@media (max-width: 767px) {
  .me.category {
    flex-direction: column-reverse;
  }

  .me__my-name-mob {
    margin: 0 0 15px;
  }
  .me__my-status-mob {
    margin: 0 0 25px;
  }

  .primary-information {
    padding-top: 30px;
  }
}
@media (max-width: 550px) {
  .primary-information,
.secondary-information {
    padding-left: 20px;
    padding-right: 20px;
  }

  .slider__item {
    margin: 0 20px;
  }
}
@media (max-width: 550px) {
  .slick-arrow {
    top: 97%;
  }

  .slick-next {
    right: 5%;
  }

  .slick-prev {
    left: 5%;
  }

  .slick-dots {
    margin: 20px 0 15px;
  }

  #to-top-button {
    right: 3px;
    bottom: 37%;
  }
}
@media (max-width: 500px) {
  .category,
.si-category {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .education__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .education__university {
    margin: 0 0 15px;
  }

  .si-category-header {
    width: 100%;
  }

  .software__software-level {
    width: 100px;
  }
}
@media (max-width: 375px) {
  .software__software-level {
    width: 80px;
  }

  .primary-information,
.secondary-information {
    padding-left: 10px;
    padding-right: 10px;
  }

  .category-content {
    font-size: 1em;
  }

  .slider__item {
    margin: 0 10px;
  }
}
@keyframes links__icon_rotate {
  from {
    transform: rotateY(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
